* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #050505;
  color: #ebebeb;

  display: flex;
  justify-content: center;
  align-items: center;
}

body > * {
  margin: auto;
}
